@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

// colors
$primary-color: rgb(255, 255, 255);
$secondary-color: rgb(0, 0, 0);
$text-color: rgb(128, 128, 128);
$border-bottom: 1px solid rgb(236, 239, 241);
$icon-color-default: rgb(102, 102, 102);
$icon-color-hovered: rgb(102, 102, 102);

// sizes and fonts
$padding-main: 20px;
$size: 15px;
$size-sm: 13px;
$size-lg: 36px;
$space-large: 150px;
$breakpoint-tablet: 768px;
$breakpoint-2: 960px;
$fonts: 'Nunito', sans-serif;

// extend/inheritance
%icon-styling {
  color: $icon-color-default;
  height: 20px;
  width: 20px;
  margin: 0 10px;
  text-align: center;
}

%align-vertically {
  display: flex;
  align-items: center;
}

// styling code

body {
  padding: 0;
  margin: 0;
  font-family: $fonts;
}

* {
  box-sizing: border-box;
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  header {
    grid-column: 1 / span 5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .header-icon {
      max-width: 20px;
      max-height: 20px;
      .lg {
        max-width: 30px;
        max-height: 30px;
      }
    }
    .left {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      width: 220px;
      padding-left: 10px;
      img {
        margin: auto 10px;
      }
      p {
        font-size: 24px;
        color: gray;
      }
    }

    .right {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 1;
      img {
        margin: 0 10px;
      }
    }
    .middle {
      flex: 5;
      input {
        background: url('../images/search-icon.png') no-repeat;
        background-size: 18px;
        background-position: left center;
        background-position-x: 10px;
        background-color: rgba(242, 245, 245, 0.8);
        padding-top: 20px;
        padding-bottom: 20px;
        padding-left: 40px;
        padding-right: 20px;
        border-radius: 8px;
        border: none;
        outline: none;
        min-width: 240px;
        max-width: 600px;
        width: 90%;
        &:focus {
          border: none;
          background-color: transparent;
          box-shadow: 0 1px 1px 2px lightgray;
        }
      }
    }
  }

  /* sidebar */
  .sidebar {
    width: 220px;
    /* border: 1px solid; */
    padding: 10px;
    grid-column: 1;
    color: rgb(60, 64, 67);
    cursor: pointer;

    .compose {
      box-shadow: 0 0 1px 1px lightgray;
      align-items: center;
      justify-content: space-evenly;
      display: flex;
      border-radius: 50px;
      user-select: none;
      margin-bottom: 15px;
      transition: linear 0.2s;
      border-radius: 24px;
      font-weight: 500;
      height: 48px;
      width: 145px;
      padding: 0 10px 0 0;
      &:hover {
        box-shadow: 0 1px 3px 0 rgba(60, 64, 67, 0.302), 0 4px 8px 3px rgba(60, 64, 67, 0.149);
        background-color: #fafafb;
        transition: box-shadow 0.08s linear, min-width 0.15s cubic-bezier(0.4, 0, 0.2, 1);
      }
      img {
        width: 30px;
        height: 30px;
      }
    }
    .menu {
      min-height: 400px;
      overflow-y: auto;
      font-size: 0.875rem;
      letter-spacing: 0.2px;
      font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
      .left-tag {
        padding: 5px;
        padding-left: 15px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 32px;
        img {
          height: 16px;
          width: 16px;
          margin-right: 15px;
          color: rgb(119, 119, 119);
          opacity: 0.54;
        }
        &:hover {
          background-color: rgb(241, 243, 244);
          border-radius: 0 25px 25px 0;
        }
      }
    }
  }

  /* meet */
  .meet {
    border-top: 2px groove lightgray;
    border-bottom: 1px solid lightgray;
    font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-size: 0.875rem;
    color: rgb(32, 33, 36);
    p {
      padding-left: 15px;
      font-weight: bold;
    }
    .left-tag {
      padding: 5px;
      padding-left: 15px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      img {
        height: 16px;
        width: 16px;
        margin-right: 15px;
        opacity: 0.54;
      }
    }
  }

  /* hangouts */
  .hangouts {
    /* border: 1px solid; */
    font-family: 'Roboto', sans-serif;
    .hangout-user {
      display: flex;
      justify-content: space-between;
      align-items: center;
      div:first-child {
        display: flex;
        align-items: center;
      }
    }
    img {
      height: 24px;
      width: auto;
      margin-right: 5px;
    }
  }

  main {
    grid-column: 2 / span 5;
    width: 100%;

    .tool {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .mail-window {
      position: relative;

      .tab {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border-bottom: $border-bottom;
        div {
          width: 225px;
          height: 50px;
          box-sizing: border-box;
          display: flex;
          align-items: center;
          color: #737373;
          font-weight: 600;
          font-size: 13px;
          cursor: pointer;
          &:hover {
            background-color: #f4f4f4;
            color: black;
          }
        }
        i {
          padding: 0 10px;
          transition: 0.4s;
        }
      }

      .email {
        @extend %align-vertically;
        justify-content: flex-start;
      }

      .email-list-wrapper {
        width: calc(100vw - 320px);
        position: relative;
      }

      .email-list {
        width: 100%;
        padding-bottom: 10px;
        padding-top: 10px;
        display: flex;
        // justify-content: space-between;
        // align-items: center;
        box-shadow: inset 0 -1px 0 0 rgba(100, 121, 143, 0.122);
        cursor: pointer;
        font-size: 0.875rem;
        letter-spacing: 0.2px;
        &:hover {
          box-shadow: inset 1px 0 0 #dadce0, inset -1px 0 0 #dadce0, 0 1px 2px 0 rgba(60, 64, 67, 0.3),
            0 1px 3px 1px rgba(60, 64, 67, 0.15);
          z-index: 1;
          .dots-img {
            opacity: 0.5;
          }
          .email-checkbox {
            opacity: 1;
          }
          .email-star {
            opacity: 1;
          }
          .hover-icons {
            div {
              display: block;
            }
          }
        }
      }

      .dots-img {
        background-image: url(https://www.gstatic.com/images/icons/material/system/2x/drag_indicator_black_20dp.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        height: 18px;
        width: 20px;
        opacity: 0;
      }

      .email-checkbox {
        padding: 0 10px 0 14px;
        width: 20px;
        position: relative;
        margin-right: 20px;
        margin-left: -16px;
        font-weight: bolder;
        height: 20px;
        opacity: 0.5;
        input[type='checkbox'] {
          transform: scale(1.3);
        }
      }

      .email-star {
        background-image: url('https://www.gstatic.com/images/icons/material/system/2x/star_border_black_20dp.png');
        background-position: center;
        background-repeat: no-repeat;
        background-size: 20px;
        padding: 0 10px 0 0;
        width: 20px;
        height: 20px;
        opacity: 0.16;
        margin-right: 20px;
      }

      .sender-name {
        margin-right: 20px;
        display: flex;
        max-width: 168px;
        padding-left: 0;
        padding-right: 32px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }

      .sender-email {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        margin-right: 30px;
      }

      .message-title {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .email-dash {
        margin: 0px 20px;
      }

      .message {
        margin-right: 40px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .email-time {
        color: #5f6368;
        display: flex;
        font-size: 0.75rem;
        letter-spacing: 0.3px;
        padding-right: 16px;
        justify-content: flex-end;
      }

      .hover-icons {
        display: flex;
        float: right;
        position: absolute;
        right: 0;
        background-color: white;
        div {
          margin: 0px 10px;
          opacity: 0.7;
          display: none;
        }
      }

      .opened-email {
        position: absolute;
        background-color: $primary-color;
        width: 100%;
        left: 0;
        top: 0;
        padding: 0 15px;
        a {
          text-decoration: none;
        }
        .fas,
        .far {
          @extend %icon-styling;
        }
        .email-header {
          @extend %align-vertically;
          justify-content: space-between;
          margin: 20px 0 35px 55px;
          .right-header {
            display: flex;
            align-items: center;
            h2 {
              margin: 0;
              padding-right: 10px;
            }
            .important {
              height: 20px;
              width: 20px;
              background-image: url(https://www.gstatic.com/images/icons/material/system/1x/label_important_outline_black_20dp.png);
              background-position: center;
              background-repeat: no-repeat;
              background-size: 20px;
              margin: 0 10px;
              cursor: pointer;
            }
            .button-tab {
              display: flex;
              background-color: rgb(221, 221, 221);
              border: 1px solid transparent;
              border-radius: 4px;
            }
            .email-label {
              line-height: 18px;
              padding: 0 2px 0 4px;
              cursor: pointer;
            }
            .clear-label {
              line-height: 18px;
              padding: 0 2px 0 4px;
              cursor: pointer;
            }
          }
        }
        .email-main {
          display: flex;
          .sender-photo {
            width: 40px;
            height: 40px;
            border-radius: 20px;
            background-color: $text-color;
            display: flex;
            img {
              width: 40px;
              height: 40px;
              align-self: center;
              justify-self: center;
              border-radius: 20px;
            }
          }
          .email-content {
            width: 100%;
            margin-left: 15px;
            .email-info {
              display: flex;
              justify-content: space-between;
              align-items: center;
              .sender-full-name {
                font-size: $size;
                font-weight: bold;
              }
            }
          }
        }
      }
    }
  }
}

// left-aside-sholpan
